@import '~styles/variables';
:host {
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  img {
    height: 50px;
    width: auto;
  }
}

.mat-form-field {
  width: 100%;
  min-width: 200px;
}

.mat-card {
  width: 100%;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none !important;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
}

.loginButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .mat-raised-button {
    width: 100%;
  }
}

