@import '~styles/variables';
@import '~styles/layouts';
:host() {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: $transparent-black-weakest;
}

h1 {
  font-size: 1.5em;
  color: $font-primary;
}
