<mat-card>
  <mat-card-header fxLayout="row" fxLayoutAlign="end center">
    Contract Information
  </mat-card-header>
  <mat-card-content>
    <p> Contract Number: {{ contract?.contractNumber }} </p>
    <p> Contract Status: {{ contract?.isActive ? 'Active' : 'Inactive' }} </p>
    <p> Expires on: {{ contract?.expireDate | dotnetDate}}</p>
    <p> Updated on: {{ contract?.lastUpdate | dotnetDate }} </p>
  </mat-card-content>
</mat-card>
