<mat-card [@animState]="animState">
  <mat-card-content>
    <app-login-form (submitted)="onSubmit($event)" [pending]="pending$ | async" [errorMessage]="error$ | async">
    </app-login-form>
  </mat-card-content>
</mat-card>
