@import '~styles/variables';
:host {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  // background-color: $transparent-black-weakest;
}

.mat-tab-group {
  // background-color: $transparent-black;
  /deep/.mat-tab-header {
    .mat-tab-label {
      width: 50% !important;
      color: $blue !important;
    }
  }
}

.mat-card {
  padding: 0;
  padding-bottom: 1em;
  background-color: $transparent-black-strongest;
  .mat-card-footer {
    margin: 0;
    a {
      color: $blue;
      text-decoration: none;
    }
    p {
      margin: 0
    }
  }
}
