<mat-card>
  <mat-card-header fxLayout="row" fxLayoutAlign="end center">
    Meter Information
  </mat-card-header>
  <mat-card-content>
    <p> Initial Value: {{ meter?.initialValue }} {{ registerType }} </p>
    <p> Installed on: {{ meter?.installedDate | dotnetDate}}</p>
    <p> Updated on: {{ meter?.lastUpdate| dotnetDate }} </p>
  </mat-card-content>
</mat-card>