@import '~styles/variables';
@import '~styles/layouts';
:host {
  display: flex;
  z-index: 10;
  width: 100%;
  height: 100%;
  min-height: 150px;
}

.wrapper {
  background-color: $transparent-black-weakest;
}
