@import '~styles/variables';
@import '~styles/layouts';

:host {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

chart {
  height: 100% !important;
  width: 100% !important;
  /deep/.highcharts-credits {
    visibility: hidden !important;
  }
}
