@import '~styles/variables';
@import '~styles/layouts';
:host {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  overlay {
    top: 0;
    z-index: -10;
    position: absolute;
  }
}
