<div class="wrapper">
  <ng-content></ng-content>
</div>
<overlay *ngIf="isPending || underflowMessage">
  <mat-spinner *ngIf="isPending"></mat-spinner>
  <simple-message *ngIf="underflowMessage && !isPending">
    <h3>{{ underflowMessage }}</h3>
  </simple-message>
</overlay>
