@import '~styles/layouts';
:host {
  width: 100%;
  overflow-y: scroll;
}

#actions {
  padding: 1em;
}

#info {
  padding: 1em;
}

.small {
  height: 200px;
}

.middle {
  height: 30vh;
}

.large {
  height: 40vh;
}

.full {
  height: 68vh;
}

:host::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 1px;
  background-color: $transparent-black-weakest;
}

:host::-webkit-scrollbar {
  width: 12px;
  background-color: $transparent-black-weakest;
}

:host::-webkit-scrollbar-thumb {
  border-radius: 1px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: $transparent-white;
}

