<div class='wrapper' fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="start center" id='actions'>
    <button mat-raised-button color="primary" (click)="openEmailDialog()">Change Email</button>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between" id='info'>
    <app-customer-info [customer]="customer$ | async"></app-customer-info>
    <app-contract-info [contract]="contract$ | async"></app-contract-info>
  </div>
</div>
