<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()" autocomplete="on">
      <p>
        <mat-form-field>
          <input type="number" matInput placeholder="CustomerNumber*" formControlName="customerNumber">
          <mat-error *ngIf="form.controls['customerNumber'].hasError('required')">
            CustomerNumber is
            <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="form.controls['customerNumber'].hasError('isNotNumber')">
            Number
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="number" matInput placeholder="ContractNumber*" formControlName="contractNumber">
          <mat-error *ngIf="form.controls['contractNumber'].hasError('required')">
            ContractNumber is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </p>

      <p class="loginButtons">
        <button mat-raised-button *ngIf="form.enabled" type="submit" [disabled]="!form.valid" color="primary">LOGIN</button>
        <mat-spinner *ngIf="form.disabled" diameter='35'></mat-spinner>
      </p>

    </form>
  </mat-card-content>
</mat-card>
