<mat-card>
  <mat-card-header fxLayout="row" fxLayoutAlign="end center">
    Records
  </mat-card-header>
  <mat-card-content>
    <line-chart [items]="dataEmitter" [seriesName]="registerType"></line-chart>
  </mat-card-content>
</mat-card>