<div id='wrapper' fxLayout="column" fxLayoutAlign="space-around stretch">
  <h1 mat-dialog-title>{{ title }}</h1>

  <form mat-dialog-content fxFlex="grow" fxLayout="column" fxLayoutAlign="start" [formGroup]="formGroup">

    <mat-form-field>
      <input matInput placeholder="Initial Value*" type="text" formControlName="initialValue">
      <mat-error *ngIf="getFormControl('initialValue').hasError('required')">
        Initial Value is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>


    <mat-form-field *ngIf="registerTypes">
      <mat-select placeholder="Register Type*" formControlName="registerType">
        <mat-option *ngFor="let type of registerTypes" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="getFormControl('registerType').hasError('required')">
        Register Type is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>

  </form>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between">
    <div>
      <button mat-raised-button color="primary" (click)="closeDialog()">CANCEL</button>
    </div>

    <div>
      <button mat-raised-button color="primary" [disabled]="!isValid()" [mat-dialog-close]="this.formGroup.value">{{actionType}}</button>
    </div>
  </div>

</div>
