<button mat-button [matMenuTriggerFor]="menu">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-icon>{{ icon }}</mat-icon>
    <span>{{ text }}</span>
  </div>
</button>

<mat-menu #menu="matMenu">
  <ng-content></ng-content>
</mat-menu>
