@import '~styles/variables';
:host {
  height: 100% !important;
}

.mat-tab-nav-bar,
/deep/ .mat-tab-links,
/deep/ .mat-tab-link {
  height: 100% !important;
}

.mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
  color: $blue;
  background-color: transparent;
}
