<div fxFlex="nogrow" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutAlign="center">
    <div id='smartphone' fxLayout="column" fxLayoutAlign="center center">
      <div id='wallpaper'></div>
      <img id='frame' src="assets/images/png/nexus5_frame.png">
      <div id='screen' fxLayout="column" fxLayoutAlign="start">
        <div id='title'> Title: {{ title | async }} </div>
        <img [fxHide]="!imageSrc" #preview>
        <div fxLayout="row" fxLayoutAlign="center">
          <mat-spinner [diameter]="50" *ngIf="pending | async"></mat-spinner>
        </div>
        <div id="message"> {{ message | async }} </div>
      </div>
      <!-- <file-drop [fxHide]="imageFile || formGroup.value.title || formGroup.value.message" headertext="Drop image or click here"
      (click)="openFileUploder()" (onFileDrop)="dropped($event)">
    </file-drop> -->
    </div>

  </div>
  <div fxLayout="row" fxLayoutAlign="start">
    <div fxLayout="column" fxLayoutAlign="start" style="margin-bottom: 20px;">
      <div>* use image for illustrative purposes only</div>
      <div>* actual image may be cropped due to different screen resolutions on different phones</div>
    </div>
  </div>
</div>
