@import '~styles/variables';
@import '~styles/layouts';

$smartphone-width: 17.5vw;
$smartphone-height: calc(#{$smartphone-width} * 2);
#smartphone {
  width: $smartphone-width;
  height: $smartphone-height;
  position: relative;
  #wallpaper {
    width: calc(#{$smartphone-width} / 1.182);
    height: calc(#{$smartphone-height} / 1.325);
    position: absolute;
    z-index: 0;
    background-color: white;
  }
  #frame {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 1;
  }
  #screen {
    margin-top: calc(#{$smartphone-height} / 55.26);
    width: calc(#{$smartphone-width} / 1.182);
    height: calc(#{$smartphone-height} / 1.45);
    position: absolute;
    z-index: 2;
    color: black;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
    #title,
    #message {
      margin: 0;
      padding: 0.5em;
    }
    #title {
      background-color: $transparent-black-weakest;
      font-weight: bold;
    }
    #message {
      overflow-x: hidden;
      overflow-y: scroll;
      white-space: pre-line;
      word-wrap: break-word;
    }
    #message::-webkit-scrollbar {
      display: none;
    }
  }
  file-drop {
    margin-top: 0.475vw;
    position: absolute;
    width: 11.1vw;
    height: 18.1vw;
    z-index: 3;
  }
}
