<app-toolbar fxFlex='nogrow'>
  <app-tab-link></app-tab-link>
  <div fxFlex='grow' id='spacer'></div>
  <app-menu *ngIf="loggedIn$ | async" icon="account_box" [text]="email">
    <app-menu-item (select)="logout()">logout</app-menu-item>
  </app-menu>
</app-toolbar>

<mat-sidenav-container fxFlex='grow'>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<div id='wallpaper'></div>