@import '~styles/variables';
@import '~styles/layouts';
:host {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: stretch;
  align-items: stretch;
}

#wallpaper {
  width: 100%;
  height: 100%;
  background-image: url('assets/abstract-image.jpg');
  filter: grayscale(30%);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
  position: absolute;
  top: 0;
}
