<div class='wrapper' fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="start center" id='actions'>
    <button mat-raised-button color="primary" (click)="openMeterDialog()" [fxHide]="meter">Register Meter</button>
    <div fxFlex='grow'></div>
    <button mat-raised-button color="primary" (click)="openRecordDialog()" [disabled]="!contractIsActive">Add Record</button>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between" id='info'>
    <app-meter-info [meter]="meter$ | async" [registerType]="registerType"></app-meter-info>
    <app-record-info [dataEmitter]="records_chart$" [registerType]="registerType"></app-record-info>
  </div>
</div>
