<img fxHide="true" #imageValidiator>
<input fxHide="true" type="file" (change)="setFile($event.target.files)" #fileUploader>

<div fxLayout="column" fxLayoutAlign="stretch">
  <div>
    <button mat-raised-button [ngClass]="imageFile ? '' : 'unselected'" [color]="'primary'" (click)="imageFile ? reset() : openFileUploder()">
      {{ imageFile ? 'REMOVE IMAGE' : 'ADD IMAGE' }}
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="end" id="hint">
    <ng-content></ng-content>
  </div>
</div>
