<div id='wrapper' fxLayout="column" fxLayoutAlign="space-around stretch">
  <h3 mat-dialog-title> {{ title }}</h3>

  <form mat-dialog-content fxFlex='75' fxLayout="column" fxLayoutAlign="space-around" [formGroup]="formGroup">

    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="getFormControl('email').hasError('email')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
  </form>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex='nogrow'>
      <button mat-raised-button color="primary" (click)="closeDialog()">CANCEL</button>
    </div>
    <div fxFlex='nogrow'>
<button mat-raised-button color="primary" [disabled]="!isValid()" [mat-dialog-close]="formGroup.value">{{actionType}}</button>
    </div>
  </div>
</div>

