<mat-card>
  <mat-card-header fxLayout="row" fxLayoutAlign="end center">
    Customer Information
  </mat-card-header>
  <mat-card-content>
    <p> Customer Number: {{ customer?.customerNumber }} </p>
    <p> Name : {{ customer?.firstName }} {{ customer?.lastName }} </p>
    <p> Address: {{ customer?.address }}</p>
    <p> Email: {{ customer?.email}}</p>
    <p> Updated on: {{ customer?.lastUpdate | dotnetDate }} </p>
  </mat-card-content>
</mat-card>
