@import './variables';
.react-font {
  color: $font-primary;
}

.react-font:hover {
  color: $font-light;
}

.react-font:active {
  color: $font-dark;
}

.react-font-green {
  color: $blue;
}

.react-font-green:hover {
  color: $green-light;
}

.react-font-green:active {
  color: $green-dark;
}

