@import './variables';
@import '~@angular/material/theming';
@include mat-core();

$light-primary: mat-palette($mat-light-green, A400);
$light-accent: mat-palette($mat-grey, 700);
$light-warn: mat-palette($mat-red);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

$dark-primary: mat-palette($mat-cyan);
$dark-accent: mat-palette($mat-pink, A200);
$dark-warn: mat-palette($mat-red);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);


.light-theme {
  @include angular-material-theme($light-theme);
}

@include angular-material-theme($dark-theme);
.mat-drawer-backdrop.mat-drawer-shown {
  background: $transparent-black;
}

.mat-drawer-backdrop,
.mat-drawer-content,
.mat-sidenav-content {
  overflow: hidden !important;
}

.mat-progress-bar-buffer {
  background-color: #c8c8c8;
}

.mat-list-item-content {
  cursor: pointer;
}

.mat-list-item-content:hover {
  background-color: $transparent-black-weaker;
}

.mat-sidenav-container {
  height: 100%;
  widows: 100%;
  background-color: transparent;
}
.mat-sidenav {
  height: 100%;
  min-width: 200px;
  background-color: $transparent-black;
}
