// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './variables';
@import './custom-theme';
@import './mixins';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~ngx-toastr/toastr";


html,
body,
app-root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: $blue;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: rgba(#fff, .5);
}

::-webkit-scrollbar-corner {
  // background-color: $transparent-black-weakest;
  background-color: transparent;
}

