@import '~styles/variables';
@import '~styles/layouts';
:host {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 1em;
  overflow: hidden;
}

.wrapper {
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .25);
}

