<mat-list-item (mouseover)="enter.emit(name)" (mouseleave)="leave.emit()">
  <img matListAvatar *ngIf="imageUrl" [src]="imageUrl">
  <h4 mat-line>{{ name }}</h4>
  <p mat-line *ngIf="hint"> {{ hint }} </p>
</mat-list-item>


<!-- <mat-list-item (mouseover)="enter.emit(name)" (mouseleave)="leave.emit()">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <img matListAvatar *ngIf="imageUrl" [src]="imageUrl">
        <h4 mat-line>{{ name }}</h4>
        <p mat-line *ngIf="hint"> {{ hint }} </p>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>
</mat-list-item> -->
